/* center a child collection */

/* display a catalog of cards in a matrix*/
.catalog {
    width: 100%;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}